# python cache
__pycache__

# outputs files of cython
*.c
*.so
build/*

# node modules
gui/node_modules

# output files
gui/out
yarn-error.log
gui/output.txt

# others
.DS_Store
tetris.png
hiddenSpace.py